
.clients__title {
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  text-align: center;
  gap: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: rgba(175, 177, 184, 1);
  border-radius: 4px;
  border: 1px solid rgba(175, 177, 184, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.clients__icons {
  fill: currentColor;
}

